{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1><i class="bi bi-gear"></i> Settings</h1>
        <p>This is the settings page. Add your content here.</p>
    </div>
</div>

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Settings Content</h5>
                <p class="card-text">Customize this section for your settings functionality.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}